.container{
    display: flex;
    margin-left: 20px;
}

.items{
    display: block;
    margin-left: 20px;

}

.link{
    display: block;
    margin-left: 20px;
}

.genres{
    list-style-type: none;
    display: flex;
    padding: 0;
}

.genres li {
    display: flex;
    margin: 5px;
    
}

.back{
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}

.info{
    margin-left: 20px;
}

.Searchbar{
    margin-left: 20px;
}

.SearchForm {
    margin-left: 20px;
}

.SearchForm_button {
    margin-left: 5px;
}

.SearchForm_input {
    margin-left: 10px;
}

//HomePage

.images {
    display: grid;
    max-width: calc(100vw - 78px);
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    
}
.images li {
    display: flex;
    justify-content: center;
}

// .imag {
//     width: 200px;
// }

.text{
    text-align: center;
    font-weight: 100;
    font-size: 15px;    
}

// .imag_actors{
//     width: 100px;
// }

.actors_name{
    display: block;
}

.text_actors{
    margin-left: 10px;
}